<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PDF Text Extraction App</title>
    <link rel="stylesheet" href="../static/css/app.main.css" />
    <!-- Agregar otros enlaces a archivos CSS aquí -->
  </head>
  <body>
    <!-- Barra de navegación -->
    <nav class="navbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('index') }}">Inicio</a>
        </li>
        {% if 'dashboard' in request.path or 'search' in request.path %}
        <li
          class="nav-item {% if 'dashboard' in request.path or 'search' in request.path %}active{% endif %}"
        >
          <a class="nav-link disabled" href="#">
            {% if 'dashboard' in request.path %} Dashboard {% elif 'search' in
            request.path %} Results {% endif %}
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>

    <!-- Contenido de la página -->
    {% block content %} {% endblock %}

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- Agregar otros enlaces a archivos JavaScript aquí -->
  </body>
</html>
